
/* General styling */
body{
	font-family: "myriad-pro";
	font-weight: 300;
}

h2{
	font-size: 28px;
}

h3{
	font-size: 27px;
	color: #e21836;
}
h4{
	font-size: 20px;
}

.navigation a:hover{
	text-decoration: none;
}

.navigation a{
	color: white;
}

.footer-nav a:hover{
	text-decoration: none;
}

.footer-nav a{
	color: white;
}

.footer input[type="submit"]{
	background-color: #333;
}

.blur-background{
	width: 100%;
	background-image: "assets/imgs/blur.jpg";
}

.red-background{
	width: 100%;
	background-color: #e21836;
}

.black-background{
	width: 100%;
	background-color: #000;
}

.red-text{
	color: #e21836;
}

.learnmore{
	background-color: #e21836;
	color: #fff;
}

.learnmore:hover{
	text-decoration: none;
	color: #fff;
}


/* Header Styling */
.searchbar-position-right{
	position: absolute;
	right: 4px;
	padding-top: 15px;
}

.header-position-right{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 315px;
}

.searchbar{
	position: relative;
}

.searchbar > div > img{
	width: 27px;
}

.news-section{
	border: solid 1px #ddd;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 5px;
}

.news-section a{
	font-weight: 600;
	text-decoration: underline;
}

.careers-sidebar{
	margin: 10px 0px;
	border: solid 3px #e21836;
}

.careers-sidebar p{
	padding: 0px 24px;
}

.careers-sidebar-container > :first-child{
	margin-top: 35px;
}

.pdf-wrap{
	text-align: center;
	margin-top: 45px;
}

.pdf-wrap p{
	font-weight: 600;
}

.pdf-wrap span{
	font-weight: 400;
}

.interior-content img.pdf-icon{
	width: 55px;
}

.technical-links a{
	font-weight: 600;
	font-size: 16px;
}

.subtext{
	font-style: italic;
	font-size: 13px;
}

img.pdf-icon{
	width: 55px;
}


.pdf-filename{
	font-size: 11px;
}

.selector-button{
	width: 127px;
	position: absolute;
	right: 0;
	bottom: 10px;
}

.black-background > .container > .row{
	position: relative;
}

.header-content > div > .container .row .logowrap img{
	width: 220px;
	margin: 0px;
}

.lower-nav{
	background-color: #e21836;
	min-height: 34px;
}

.header-content{
	color: #fff;
}

.contact-navigation{
	bottom: 5px;
	display: table;
}

.contact-navigation li a{
	text-decoration: none;
	color: white;
}

.contact-navigation li a{
	text-deocration: none;
}

.contact-navigation li{
	display: table-cell;
	padding: 5px;
}

.overlay-header{
	margin-bottom: 0px;
	background-color: #333;
	color: #fff;
	padding: 5px;
}

.overlay-opacity p{
	color: #fff;
}

/* Landing page overlay */
.overlay{
	position: relative;
}

.overlay p{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	font-size: 17px;
}

.overlay-opacity{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	display:none;
}



.header-content > .red-background:last-child{
	margin-top: 5px;
}

.navigation{
	margin-top: 5px;
	float: right;
	display: table;
}

.navigation li{
	float: left;
	display: table-cell;
	margin-left: 60px;
	font-size: 25px;
	padding: 0px;
}

.footer .row > div > ul{
	display: table;
}

.footer .row > div > ul > li{
	display: table-cell;
	padding: 0px 5px;
}

@media (max-width: 767px){
	.header-content > .red-background{
		display: none;
		height: 0px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.navigation li{
		margin-left: 46px;
	}
}


@media (max-width: 991px){
	.navigation li{
		margin-left: 21px;
	}
}

/* Responsive header */
@media (min-width: 768px){
	.linkwrap{
		height: 120px;
	}
	.logowrap{
		height: 120px;
	}
	.logowrap img{
		position: absolute;
		bottom: 4px;
	}
}

.tablet-header > div > .logowrap{
	padding: 0px;
}

.tablet-header > div > .logowrap img{
	width: 72px;
}

.tablet-header > div > .searchbar{
	height: 85px;
	position: relative;
}

.tablet-header > div > .logowrap{
	height: 85px;
}

.tablet-header > div > .linkwrap{
	height: 85px;
}

.tablet-header > div > .searchbar .searchbar-position-right{
	position: absolute;
	right: 0px;
	bottom: 10px;
}

.desktop-footer{
	padding: 15px 0px;
}

.tablet-footer{
	padding: 10px 0px;
}

.mobile-footer{
	padding: 5px 0px;
}

@media (min-width: 992px){
	.tablet-header{
		display: none;
	}
	.tablet-footer{
		display: none;
	}
	.mobile-header{
		display: none;
	}
	.mobile-footer{
		display: none;
	}
	.desktop-header{
		display: block;
	}
	.desktop-footer{
		display: block;
	}
}

@media (max-width: 991px) and (min-width: 768px){
	.tablet-header{
		display: block;
	}
	.tablet-footer{
		display: block;
	}
	.desktop-header{
		display: none;
	}
	.desktop-footer{
		display: none;
	}
	.mobile-header{
		display: none;
	}
	.mobile-footer{
		display: none;
	}
}

@media (max-width: 767px){
	.tablet-header{
		display: none;
	}
	.tablet-footer{
		display: none;
	}
	.desktop-header{
		display: none;
	}
	.desktop-footer{
		display: none;
	}
	.mobile-header{
		display: block;
	}
	.mobile-footer{
		display: block;
	}
}

@media (min-width: 1200px){
	.hero-rightside{
		background-color: #000;
		color: #fff;
		height: 532px;
		padding: 0px 45px;
		float: right;
	}
}

/*Body Styling */
#hero{
	color: #fff;
}

.hero-leftside{
	padding: 0px;
	float: left;
}

.hero-leftside img{
	float: right;
}


	.hero-rightside{
		background-color: #000;
		color: #fff;
		padding: 0px 45px;
		float: right;
	}

.hero-rightside h1{
	font-size: 60px;
}

.hero-rightside p{
	font-size: 22px;
	padding: 15px 10px;
	line-height: 32px;
}

.thin-text{
	font-weight: 300;
}

#white_content{
	text-align: center;
	padding-bottom: 50px;
}

#white_content > div > h1{
	font-size: 30px;
	font-weight: 600;
	color: #e21836;
}

#white_content > div > p{
	font-size: 24px;
}

#white_content2{
	padding: 20px 0px;
}

#white_content2 .row > div .row > div a{
	padding: 3px;
}

#white_content2 .row > div .row > div h3{
	color: #555;
}

#red_splash{
	color: #fff;
}

#red_splash > div > h2{
	font-weight: 300;
	font-size: 40px;
	line-height: 50px;
	padding: 0px 15px 25px 15px;
}

#red_splash .row > div > img{
	margin-top: -35px;
}

#mobile-footer-logo{
	margin: 0 auto;
}

/* Conversion Calculator styling */
.conversion-list{
	padding: 0px;
}

.conversion-list li{
	list-style-type: none;
}

.conversion-list .heading{
	font-size: 20px;
	font-weight: 600;
}

/* Hardness Table Styling */
.hardness-scale{
	width: 100%;
}

.hardness-scale th{
	border-bottom: 1px solid #444444;
	text-align: left;
}

.hardness-scale td{
	border-bottom: 1px solid #cccccc;
}

/* Interior Styling */
.interior-nav{
		height: 755px;
		position: absolute;
		border-spacing: 0 2px;
}

.interior-nav ul{
	margin-top: 25px;
}

.interior-nav li{
		font-size: 12px;
		padding: 4px;
		color: #000;
		margin: 3px 3px 3px 8px;
		width: 170px;
		cursor: pointer;
}

.interior-nav li a{
	color: #000;
	font-size: 14px;
}

.interior-nav li a:hover{
	color: #000;
	font-weight: 600;
}

.interior-nav li.selected a{
	font-weight: 600;
	color: #e21836;
}

.backtotop img{
	width: 32px;
}

.interior-nav li.backtotop{
	margin-left: 3px;
	color: #fff;
	padding: 0px;
}

.interior-nav li.hierarchy.selected a{
	color: #fff;
	font-weight: 600;
}

.interior-nav li.hierarchy a:hover{
	color: #fff;
}

.interior-nav li.hierarchy a{
	font-weight: 600;
}

.interior-nav li.hierarchy{
	margin-left: 3px;
	background-color: #e21836;
	color: #fff;
}

.interior-content{
	position: relative;
}

.interior-content img{
	width: 100%;
}

.interior-nav .hierarchy a{
	color: #fff;
}

.interior-nav a{
	color: white;
	text-decoration: none;
}

.interior-nav a:hover{
	color: white;
	text-decoration: none;
}

.red-text{
	color: #e21836;
	font-weight: 600;
}

.interior-content .seal{
	width: 125px;
}

#nav.stick{
	position: fixed;
	z-index: 10000;
	top: 0;
	margin-top: 12px;
}

.section{
	padding-bottom: 25px;
}

/* Footer styling */
.footer{
	color: #fff;
	background-color: #000;
}

.footer-nav ul{
	padding-left: 0px;
	float: left;
}

.tablet-footer .row .footer-nav > ul{
	float: none;
	margin: 0 auto;
}

.footer .row > div > p{
	margin: 0px;
}

.social-wrap img{
	padding: 10px 10px;
}


.mobile-footer .row .footer-nav > ul{
	float: none;
	margin: 0 auto;
}

.footer-nav{
	padding: 0px;
}

.footer form label{
	font-weight: 300;
	font-size: 14px;
	float: right;
	padding: 0px 10px;
}

.footer form td{
	padding: 5px;
}

.footer form input[type=text]{
	height: 20px;
	width: 250px;
	color: black;
}

.center-text h5{
	text-align: center;
	color: #333;
	font-size: 80px;
	font-weight: 700;
}
